.ngadmin-container {
	background-color: #CFD8DC;
	box-sizing: border-box;
	padding-top: 64px;
	height: 100%;
	max-width: 100% !important;
	.ngadmin-content{
		padding: 15px;
	}
}

.mat-sidenav {
	min-width: 200px;
	padding-top: 60px;
	background-color: #FAFAFA;
	.mat-button {
		width: 100%;
		position: relative;
		bottom: 0;
		margin: 24px 0;
	}
}

@media (max-width: 720px){
	.mat-sidenav{
		padding-top: 54px;
		min-width: 70vw;
	}
}
