# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
dist
aot
dist-server
/dist-server
dist-server/

# dependencies
/node_modules
node_modules -b

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

src/*.js
src/*.js.map
src/**/*.js
src/**/*.js.map
src/**/**/*.js
src/**/**/*.js.map
src/**/**/**/*.js
src/**/**/**/*.js.map
src/**/**/**/**/*.js
src/**/**/**/**/*.js.map
src/**/**/**/**/**/*.js
src/**/**/**/**/**/*.js.map
src/**/**/**/**/**/**/*.js
src/**/**/**/**/**/**/*.js.map
src/**/**/**/**/**/**/**/*.js
src/**/**/**/**/**/**/**/*.js.map
src/**/**/**/**/**/**/**/**/*.js
src/**/**/**/**/**/**/**/**/*.js.map
src/**/**/**/**/**/**/**/**/**/*.js
src/**/**/**/**/**/**/**/**/**/*.js.map
src/**/**/**/**/**/**/**/**/**/**/*.js
src/**/**/**/**/**/**/**/**/**/**/*.js.map
src/**/**/**/**/**/**/**/**/**/**/**/*.js
src/**/**/**/**/**/**/**/**/**/**/**/*.js.map
src/**/**/**/**/**/**/**/**/**/**/**/**/*.js
src/**/**/**/**/**/**/**/**/**/**/**/**/*.js.map
src/**/**/**/**/**/**/**/**/**/**/**/**/**/*.js
src/**/**/**/**/**/**/**/**/**/**/**/**/**/*.js.map
src/**/**/**/**/**/**/**/**/**/**/**/**/**/**/*.js
src/**/**/**/**/**/**/**/**/**/**/**/**/**/**/*.js.map
src/**/**/**/**/**/**/**/**/**/**/**/**/**/**/**/*.js
src/**/**/**/**/**/**/**/**/**/**/**/**/**/**/**/*.js.map
