.form.container{
	margin-top: 10vh;
}
.mat-card{
	background-color: #EEE;
}
span{
	display: inline;
}
.full-width{
	width: 100%;
}
.small{
	font-size: 10px;
}
.form-error{
	background-color: #FF8A65;
}