<div fxLayout="row">
	<div fxFlex.xs="5" fxFlex.sm="15" fxFlex.md="25" fxFlex.lg="35"></div>
	<form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)" fxFlex.xs="90" fxFlex.sm="70" fxFlex.md="50" fxFlex.lg="30" class="grey" novalidate>
		<md-card>
			<!--<md-card-header #q>ini Header</md-card-header>-->
			<md-card-title #w>NgAuth</md-card-title>
			<md-card-subtitle #e>NgAdmin</md-card-subtitle>
			<md-card-content #r fxLayout="column" class="fxContainer">
				<div fxFlex>
					<md-input-container class="full-width">
						<input mdInput formControlName="username" type="text" placeholder="Username" [minlength]="_FORM_.RULES.username.minLength" [maxlength]="_FORM_.RULES.username.maxLength" (keypress)="onKeyPress($event)"
						(paste)="onPaste($event)" [required]="_FORM_.RULES.username.required">
						<md-error *ngIf="authForm.get('username').hasError('required')">{{ _FORM_.VALIDATION_MESSAGES.username.required }}</md-error>
						<md-error *ngIf="authForm.get('username').hasError('minlength')">{{ _FORM_.VALIDATION_MESSAGES.username.minLength }}</md-error>
						<md-error *ngIf="authForm.get('username').hasError('maxlength')">{{ _FORM_.VALIDATION_MESSAGES.username.maxLength }}</md-error>
						<md-hint align="start" *ngIf="authForm.get('username').valid">{{ _FORM_.VALIDATION_MESSAGES.username.valid }}</md-hint>
						<md-hint align="end">
							<md-icon>mode_edit</md-icon>
							<span aria-live="username">{{ authForm.value.username.length + '/' + _FORM_.RULES.username.maxLength}}</span>
						</md-hint>
					</md-input-container>
				</div>
				<div fxFlex>
					<md-input-container class="full-width">
						<input mdInput formControlName="password" type="password" placeholder="Password" [minlength]="_FORM_.RULES.password.minLength" [maxlength]="_FORM_.RULES.password.maxLength" (keypress)="onKeyPress($event)"
						(paste)="onPaste($event)" [required]="_FORM_.RULES.password.required">
						<md-error align="start" *ngIf="authForm.get('password').hasError('required')">{{ _FORM_.VALIDATION_MESSAGES.password.required }}</md-error>
						<md-error align="start" *ngIf="authForm.get('password').hasError('minlength')">{{ _FORM_.VALIDATION_MESSAGES.password.minLength }}</md-error>
						<md-error align="start" *ngIf="authForm.get('password').hasError('maxlength')">{{ _FORM_.VALIDATION_MESSAGES.password.maxLength }}</md-error>
						<md-hint align="start" *ngIf="authForm.get('password').valid">{{ _FORM_.VALIDATION_MESSAGES.password.valid }}</md-hint>
						<md-hint align="end">
							<md-icon>mode_edit</md-icon>
							<span aria-live="password">{{ authForm.value.password.length + '/' + _FORM_.RULES.password.maxLength}}</span>
						</md-hint>
					</md-input-container>
				</div>
			</md-card-content>
			<md-card-actions #t align='end'>
				<button md-raised-button type='submit' color='primary' [disabled]='!authForm.valid'>Submit</button>
			</md-card-actions>
			<!--<md-card-footer #y>ini footers</md-card-footer>-->
		</md-card>
	</form>
	<div fxFlex.xs="5" fxFlex.sm="15" fxFlex.md="25" fxFlex.lg="35"></div>
</div>
