.ngadmin-container {
	background-color: yellow;
	box-sizing: border-box;
	padding-top: 64px;
	height: 100%;
	width: 100%;
	.ngadmin-content {
		padding-left: 200px;
	}
}

.mat-sidenav {
	min-width: 200px;
	padding-top: 60px;
	background-color: #F5F5F5;
	.mat-button {
		width: 100%;
		position: relative;
		bottom: 0;
		margin: 24px 0;
	}
}

@media (max-width: 600px){
	.mat-sidenav{
		padding-top: 54px;
		min-width: 80vw;
	}
}
