.mat-card-content{
	background-color: #E1F5FE;
}
.full-width{
	width: 100%;
}
.pad-15{
	padding-left: 15px;
}

label.file{
	background-color: #64DD17;
	border: none;
	border-bottom: 2px solid #651FFF;
	color:#000;
	height: 25px;
	margin: 0 10px;
	text-align: center
}
.keterangan{
	color: #000;
	resize: none;
	overflow: auto;
}
