#barang-form-container{
	min-width: 400px;
	width: 650px;
	max-width: 960px;
	max-height: 85vh;
}
.mat-card-content{
	background-color: #E1F5FE;
}
.full-width{
	width: 100%;
}
.b-reset{
	background-color: transparent;
	border: none;
}
.b-reset:active{
	border: 2px solid #2196F3 !important;
}
button.file{
	background-color: #64DD17;
	border: none;
	border-bottom: 2px solid #651FFF;
	color:#000;
	height: 25px;
	margin: 0 10px;
	text-align: center
}
.keterangan{
	color: #000;
	resize: none;
	overflow: auto;
}
@media (min-width: 959){
	.pad-15{
		padding-left: 15px;
	}
}
