.mat-card-content{
	background-color: #E1F5FE;
}
.full-width{
	width: 100%;
}
#btn-file{
	position: relative;
	width: 100%;
	background-color: #64DD17;
}
#btn-file:before{
	content: 'Upload File!!!';
	position: absolute;
	width: 50%;
	right: 25%;
}
.keterangan{
	color: #000;
	resize: none;
	overflow: auto;
}
