<div fxLayout="row" style='min-width: 300px'>
	<form [formGroup]="barangForm" fxFlex (ngSubmit)="onSubmit(barangForm)" novalidate>
		<md-card class="demo-card demo-basic">
			<md-toolbar color="primary">Barang ({{ action }})</md-toolbar>
			<md-card-content fxLayout="row" fxLayoutWrap style="padding: 15px;">
				<div fxFlex fxHide>
					<md-input-container class="full-width">
						<input mdInput readonly formControlName="UUID" [type]="FORM.RULES.UUID.type" [placeholder]="FORM.RULES.UUID.label" [required]="FORM.RULES.UUID.required">
					</md-input-container>
				</div>
				<div fxFlex='100' style='padding-top: 5px'>
					<md-select class='full-width' formControlName='Category' [placeholder]="FORM.RULES.Category.label" [required]="FORM.RULES.Category.required" floatPlaceholder="floatPlaceholder">
						<md-option *ngFor='let Category of $Categories' [value]='Category'>{{ Category.name }}</md-option>
					</md-select>
					<md-error class='small' *ngIf='barangForm.get("Category").hasError("required")'>{{ FORM.VALIDATION_MESSAGES.Category.required }}</md-error>
				</div>
				<div fxFlex='100'>
					<md-input-container class="full-width">
						<input mdInput formControlName="nama" id="kategori-nama" [type]="FORM.RULES.nama.type" [placeholder]="FORM.RULES.nama.label" [required]="FORM.RULES.nama.required" [minlength]='FORM.RULES.nama.minLength' [maxlength]='FORM.RULES.nama.maxLength'>
						<md-error *ngIf="barangForm.get('nama').hasError('required')">{{ FORM.VALIDATION_MESSAGES.nama.required }}</md-error>
						<md-error *ngIf="barangForm.get('nama').hasError('minlength')">{{ FORM.VALIDATION_MESSAGES.nama.minLength }}</md-error>
						<md-error *ngIf="barangForm.get('nama').hasError('maxlength')">{{ FORM.VALIDATION_MESSAGES.nama.maxLength }}</md-error>
						<md-hint align="end">
							<md-icon>mode_edit</md-icon>
							<span aria-live="polite"> {{ barangForm.get('nama').value.length + '/' + FORM.RULES.nama.maxLength }} </span>
						</md-hint>
					</md-input-container>
				</div>
				<div fxFlex='100' fxFlex.gt-sm="30" fxLayout='column' style='font-size:.9em'>
					<label fxFlex='50' md-raised-button for="itf" class='file'>
						<input id='itf' formControlName='field' accept='image/*' (change)='file()' type="file" #itf style='width:0; opacity:0;'>
						Upload Image
					</label>
					<label fxFlex='50' md-raised-button (click)='view()' class='file'>
						View Image
						<button type='button' style='width: 0; opacity:0;height: 0; margin: 0;'></button>
					</label>
				</div>
				<div fxFlex='100' fxFlex.gt-sm="45">
					<md-input-container class="full-width">
						<input mdInput formControlName="harga" [type]="FORM.RULES.harga.type" (keypress)='onKeyPress($event)' [placeholder]="FORM.RULES.harga.label" [min]="FORM.RULES.harga.min" [max]="FORM.RULES.harga.max" [step]="FORM.RULES.harga.step" [required]="FORM.RULES.harga.required">
						<md-error *ngIf="barangForm.get('harga').hasError('required')">{{ FORM.VALIDATION_MESSAGES.harga.required }}</md-error>
						<md-hint align="end">
							<md-icon>mode_edit</md-icon>
							<span aria-live="polite"> {{ barangForm.get('harga').value | currency:'IDR' }} / {{ FORM.RULES.harga.max | currency:'IDR' }} </span>
						</md-hint>
					</md-input-container>
				</div>
				<div fxFlex='100' fxFlex.gt-sm="25">
					<md-input-container class="full-width pad-15">
						<input mdInput formControlName="stok" [type]="FORM.RULES.stok.type" (keypress)='onKeyPress($event)' [placeholder]="FORM.RULES.stok.label" [min]="FORM.RULES.stok.min" [max]="FORM.RULES.stok.max" [step]="FORM.RULES.stok.step" [required]="FORM.RULES.stok.required">
						<md-error *ngIf="barangForm.get('stok').hasError('required')">{{ FORM.VALIDATION_MESSAGES.stok.required }}</md-error>
						<md-hint align="end">
							<md-icon>mode_edit</md-icon>
							<span aria-live="polite"> {{ barangForm.get('stok').value + '/' + FORM.RULES.stok.max }} </span>
						</md-hint>
					</md-input-container>
				</div>
				<div fxFlex='100'>
					<md-input-container class="full-width">
						<label>
							 {{ FORM.RULES.keterangan.label }}
							<textarea mdInput mdTextareaAutosize formControlName="keterangan" class="keterangan" [maxlength]="FORM.RULES.keterangan.maxLength"></textarea>
						</label>
						<md-hint align="end">{{ barangForm.get('keterangan').value.length + '/' + FORM.RULES.keterangan.maxLength }}</md-hint>
					</md-input-container>
				</div>
				<div fxFlex='100'>
					{{ barangForm.get('Category').value | json }}
				</div>
			</md-card-content>
			<md-card-actions align="end" style="padding:15px;">
				<button [disabled]='barangForm.get("Category").hasError("required") || barangForm.get("nama").hasError("required")' md-raised-button color="primary" type="submit">
					{{ action }}
				</button>
			</md-card-actions>
		</md-card>
	</form>
</div>
