<nav>
	<div class="demo-toolbar">
		<md-toolbar color="primary">
			<button (click)="$ngadminSideNavToggle$.next()" class="btn-ngadmin-menu-nav-icon">
				<md-icon>menu</md-icon>
			</button>
			<span class='company-name'>Rusman Wahab</span>

			<span class="demo-fill-remaining"></span>

			<span class='nav-icon'>
				<md-icon title="Home" routerLink="/">home</md-icon>
				<md-icon title="Ngadmin" routerLink="/ngadmin">dashboard</md-icon>
				<md-icon title="Auth" routerLink="/ngauth">security</md-icon>
				<md-icon title='Sign out' routerLink='/sign/out'>exit_to_app</md-icon>
			</span>
		</md-toolbar>
	</div>
</nav>
