.item-img {
	max-height: 100px !important;
	max-width: 100px !important;
}
.item-overflow{
	overflow: auto !important;
	max-height: 100px;
}
.w-50px{
	max-width: 50px;
}
.w-70px{
	max-width: 70px;
}
.w-120px{
	max-width: 120px;
}
/* Structure */
.example-container {
	display: flex;
	flex-direction: column;
	max-height: 500px;
	min-width: 300px;
}
.example-header {
	min-height: 64px;
	display: flex;
	align-items: center;
	padding-left: 24px;
	font-size: 20px;
}
.example-header {
	min-height: 64px;
	display: flex;
	align-items: baseline;
	padding: 8px 24px 0;
	font-size: 20px;
	justify-content: space-between;
}
.mat-input-container {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}
.mat-table {
	overflow: auto;
}
.mat-header-cell .mat-sort-header-sorted {
  color: black;
}
.mat-header-row{
	background-color: #B388FF;
	color: #EEE;
}
.mat-row {
	min-height: 120px !important;
	max-height: 180px !important;
	&:nth-child(odd) {
		background-color: #D1C4E9;
	}
	&:nth-child(even) {
		background-color: #EDE7F6;
	}
	&:hover {
		background-color: #18FFFF;
		.mat-icon {
			display: initial;
		}
	}
	.mat-cell {
		&.cdk-column-Stock.mat-column-Stock{
			// background-color: greenyellow;
			// max-width: 50px;
		}
	}
}
.mat-column-_id .mat-icon {
	color: orangered;
	cursor: pointer;
	display: none;
}
.mat-cell.cdk-column-_id.mat-column-_id{
	width: 40px !important;
}

.mat-paginator {
	background-color: #EDE7F6;
}
