<md-toolbar color="primary">
	<button md-icon-button [mdMenuTriggerFor]="menu" aria-label="Open basic menu">
		<md-icon>more_vert</md-icon>
	</button>

	lorem ipsum dolor sit amet
</md-toolbar>
<table border="1" class="haha">
	<thead>
		<tr>
			<th>UUID</th>
			<th>categoryName</th>
			<th>createdAt</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let category of $Categories">
			<td>{{ category.UUID }}</td>
			<td>{{ category.categoryName }}</td>
			<td>{{ category.created_at }}</td>
			<td>
				<button md-icon-button mdTooltip='Delete' (click)='delete(category.UUID)' class="category-btn"> <md-icon>delete</md-icon> </button>
				<button md-icon-button mdTooltip='Edit' class="category-btn"> <md-icon>mode_edit</md-icon> </button>
			</td>
		</tr>
	</tbody>
	<tfoot></tfoot>
</table>

<md-menu #menu="mdMenu">
	<button md-menu-item *ngFor="let item of options" >
		{{ item.text }}
	</button>
</md-menu>
