.mat-toolbar{
	background-color: #7E57C2 !important;
	color: #EEE;
}
table tr td, table tr th{
	border-radius: 0;
}
table thead tr{
	background-color: #2962FF;
	color: #DDD;
}
table tbody{
	tr:nth-child(odd){
		background-color: #FF1744;
	}
	tr:nth-child(even){
		background-color: #76FF03;
	}
	tr:hover{
		background-color: #2196F3;
	}
}
table tbody tr .category-btn{
	color: transparent;
}
table tbody tr:hover .category-btn{
	color: #FFF;
	cursor: pointer;
}
.demo-dialog {
  color: rebeccapurple;
}

.demo-dialog-card {
  max-width: 750px;
  margin: 20px 0;
}

