<div class="example-container mat-elevation-z8">
	<md-table #table [dataSource]="dataSource" mdSort>
		<md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
		<md-row *cdkRowDef="let Category; columns: displayedColumns;"></md-row>
		<!--- Note that these columns can be defined in any order.
			The actual rendered columns are set as a property on the row definition" -->

		<!-- type Column -->
		<ng-container cdkColumnDef="type">
			<md-header-cell *cdkHeaderCellDef md-sort-header> Type </md-header-cell>
			<md-cell *cdkCellDef="let Category"> {{Category.type}} </md-cell>
		</ng-container>

		<!-- _id Column -->
		<ng-container cdkColumnDef="_id">
			<md-header-cell *cdkHeaderCellDef md-sort-header>  </md-header-cell>
			<md-cell *cdkCellDef="let Category" style='text-align: right'>
				<md-icon mdTooltip='Delete' (click)='delete(Category._id)'>delete</md-icon>
				<md-icon mdTooltip='Edit' (click)='$update$.emit(Category)'>mode_edit</md-icon>
			</md-cell>
		</ng-container>
	</md-table>
	<md-paginator #paginator [length]="database.data.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50, 100, 150, 200]"></md-paginator>
</div>
