.haha thead tr{
	background-color: #673AB7;
}
.haha tbody tr:nth-child(odd){
	background-color: #F44336;
}
.haha tbody tr:nth-child(even){
	background-color: #76FF03;
}
.haha tbody tr:hover{
	background-color: #2196F3;
}
