.fxContainer {
	box-sizing: border-box !important;
}
.grey{
	background-color: #EEE !important;
}
//

.form.container {
	margin-top: 10vh;
}

.mat-card {
	background-color: #EEE;
}
.mat-card-footer,
.mat-card-actions{
	padding: 0 5% !important;
}
div{
	margin:0;
	padding:0;
}
span {
	display: inline;
}

.full-width {
	width: 100%;
}

.small,
.form-error {
	font-size: 11px;
}

.form-error {
	color: #F00;
}

button[ng-reflect-disabled='true']:hover {
	// cursor: none;
	cursor: url(../../../../../assets/Cursors/cursor_click_x.cur) !important;
}

